
@import url(http://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN MODAL ******/
.loginmodal-container {
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: roboto;
}

.loginmodal-container h1 {
    text-align: center;
    font-size: 1.8em;
    font-family: roboto;
}

.loginmodal-container input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
    /*height: 44px;*/
    /*font-size: 16px;*/
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    /* border-radius: 3px; */
    /* -webkit-user-select: none;
      user-select: none; */
}

.loginmodal-submit {
    /* border: 1px solid #3079ed; */
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #4d90fe;
    padding: 17px 0px;
    font-family: roboto;
    font-size: 14px;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
    /* border: 1px solid #2f5bb7; */
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #357ae8;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.login-help{
    font-size: 12px;
}

/*
Code snippet by maridlcrmn for Bootsnipp.com
Follow me on Twitter @maridlcrmn
*/

/*.navbar-brand { position: relative; z-index: 2; }*/

/*.navbar-nav.navbar-right .btn { position: relative; z-index: 2; padding: 4px 20px; margin: 10px auto; transition: transform 0.3s; }*/

/*.navbar .navbar-collapse { position: relative; overflow: hidden !important; }*/
/*.navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 22px; }*/

/*.navbar .nav-collapse { position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 120px; padding-left: 80px; width: 100%; }*/
/*.navbar.navbar-default .nav-collapse { background-color: #f8f8f8; }*/
/*.navbar.navbar-inverse .nav-collapse { background-color: #222; }*/
/*.navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }*/
/*.nav-collapse>li { float: right; }*/

/*.btn.btn-circle { border-radius: 50px; }*/
/*.btn.btn-outline { background-color: transparent; }*/

/*.navbar-nav.navbar-right .btn:not(.collapsed) {*/
    /*background-color: rgb(111, 84, 153);*/
    /*border-color: rgb(111, 84, 153);*/
    /*color: rgb(255, 255, 255);*/
/*}*/

/*.navbar.navbar-default .nav-collapse,*/
/*.navbar.navbar-inverse .nav-collapse {*/
    /*height: auto !important;*/
    /*transition: transform 0.3s;*/
    /*transform: translate(0px,-50px);*/
/*}*/
/*.navbar.navbar-default .nav-collapse.in,*/
/*.navbar.navbar-inverse .nav-collapse.in {*/
    /*transform: translate(0px,0px);*/
/*}*/


/*@media screen and (max-width: 767px) {*/
    /*.navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 15px; padding-right: 15px; }*/

    /*.navbar .nav-collapse { margin: 7.5px auto; padding: 0; }*/
    /*.navbar .nav-collapse .navbar-form { margin: 0; }*/
    /*.nav-collapse>li { float: none; }*/

    /*.navbar.navbar-default .nav-collapse,*/
    /*.navbar.navbar-inverse .nav-collapse {*/
        /*transform: translate(-100%,0px);*/
    /*}*/
    /*.navbar.navbar-default .nav-collapse.in,*/
    /*.navbar.navbar-inverse .nav-collapse.in {*/
        /*transform: translate(0px,0px);*/
    /*}*/

    /*.navbar.navbar-default .nav-collapse.slide-down,*/
    /*.navbar.navbar-inverse .nav-collapse.slide-down {*/
        /*transform: translate(0px,-100%);*/
    /*}*/
    /*.navbar.navbar-default .nav-collapse.in.slide-down,*/
    /*.navbar.navbar-inverse .nav-collapse.in.slide-down {*/
        /*transform: translate(0px,0px);*/
    /*}*/
/*}*/

body{
    height: 100%;
}

#gameContainer{
    position: absolute;
    background-image: url("images/space-background.jpg");
    background-size: cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    width: 100%;
    /*height: 100%;*/
}

#loginPage {
    background: url("images/background.jpg") no-repeat center center;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
}

#logo {
    margin: 20px auto 20px auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.panel{
    background-color: transparent;
}
#registrationBtn{
    color: #f22907;
}
.control-label{
    text-align: left !important;
    color: white;
}

.form-horizontal .control-label{
    text-align: left;
}
.nav.navbar-nav.navbar-right{
    position: relative;
}
.dropdown-menu{
    /*min-width: 269px;*/
}
.menu-planet{
     width: 55px;
     height: 45px;
     background: url(images/menu-icons/main-navi.png) -10px -31px no-repeat;
 }
.menu-flights{
    width: 55px;
    height: 45px;
    background: url(images/menu-icons/main-navi.png) -90px -24px no-repeat;
}
.menu-galactic{
    width: 55px;
    height: 45px;
    background: url(images/menu-icons/main-navi.png) -167px -24px no-repeat;
}
.menu-aliance{
    width: 55px;
    height: 45px;
    background: url(images/menu-icons/main-navi.png) -402px -24px no-repeat;
}
.menu-private{
    width: 55px;
    height: 45px;
    background: url(images/menu-icons/main-navi.png) -242px -24px no-repeat
}
.menu-profile{
    width: 55px;
    height: 45px;
    padding: 0px;
    margin-bottom: 4px;
    background: url(images/menu-icons/main-navi.png) -315px -28px no-repeat
}
.menu-planet:hover{
    width: 55px;
    height: 45px;
    background: url(images/menu-icons/main-navi.png) -10px -131px no-repeat;
}
.menu-flights:hover{
    width: 55px;
    height: 45px;
    background: url(images/menu-icons/main-navi.png) -90px -124px no-repeat;
}
.menu-galactic:hover{
    width: 55px;
    height: 45px;
    background: url(images/menu-icons/main-navi.png) -167px -124px no-repeat;
}
.menu-aliance:hover{
    width: 55px;
    height: 45px;
    background: url(images/menu-icons/main-navi.png) -402px -124px no-repeat
}
.menu-private:hover{
    width: 55px;
    height: 45px;
    background: url(images/menu-icons/main-navi.png) -242px -124px no-repeat
}
.menu-profile:hover{
    width: 55px;
    height: 45px;
    background: url(images/menu-icons/main-navi.png) -315px -128px no-repeat
}
#leftSideMenu,#gameContent,#rightSideMenu{
    min-height:1000px;
    padding: 0px;
}
#leftSideMenu{
    min-width: 370px;
}
#gameContent{
    margin: 5px 10px;
}
.flash-notice{
    color: white;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.29);
}

/*SIDEBAR*/

/* remove outer padding */
.main .row{
    padding: 0px;
    margin: 0px;
}

/*Remove rounded coners*/

nav.sidebar.navbar {
    border-radius: 0px;
    height: 100%;
    position: absolute;
}

nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
}

/* Add gap to nav and right windows.*/
.main{
    padding: 10px 10px 0 10px;
}

/* .....NavBar: Icon only with coloring/layout.....*/

/*small/medium side display*/
@media (min-width: 768px) {

    /*Allow main to be next to Nav*/
    .main{
        position: absolute;
        width: calc(100% - 40px); /*keeps 100% minus nav size*/
        margin-left: 40px;
        float: right;
    }

    /*lets nav bar to be showed on mouseover*/
    nav.sidebar:hover + .main{
        margin-left: 200px;
    }

    /*Center Brand*/
    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: 0px;
    }
    /*Center Brand*/
    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
        text-align: center;
        width: 100%;
        margin-left: 0px;
    }

    /*Center Icons*/
    nav.sidebar a{
        padding-right: 13px;
    }

    /*adds border top to first nav box */
    nav.sidebar .navbar-nav > li:first-child{
        border-top: 1px #e5e5e5 solid;
    }

    /*adds border to bottom nav boxes*/
    nav.sidebar .navbar-nav > li{
        border-bottom: 1px #e5e5e5 solid;
    }

    /* Colors/style dropdown box*/
    nav.sidebar .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    /*allows nav box to use 100% width*/
    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
        padding: 0 0px 0 0px;
    }

    /*colors dropdown box text */
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #777;
    }

    /*gives sidebar width/height*/
    nav.sidebar{
        width: 200px;
        height: 100%;
        margin-left: -160px;
        float: left;
        z-index: 8000;
        margin-bottom: 0px;
    }

    /*give sidebar 100% width;*/
    nav.sidebar li {
        width: 100%;
    }

    /* Move nav to full on mouse over*/
    nav.sidebar:hover{
        margin-left: 0px;
    }
    /*for hiden things when navbar hidden*/
    .forAnimate{
        opacity: 0;
    }
}

/* .....NavBar: Fully showing nav bar..... */

@media (min-width: 1330px) {

    /*Allow main to be next to Nav*/
    .main{
        width: calc(100% - 200px); /*keeps 100% minus nav size*/
        margin-left: 200px;
    }

    /*Show all nav*/
    nav.sidebar{
        width: 100%;
        margin-left: 0px;
        float: left;
    }
    /*Show hidden items on nav*/
    nav.sidebar .forAnimate{
        opacity: 1;
    }
}

nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #CCC;
    background-color: transparent;
}

nav:hover .forAnimate{
    opacity: 1;
}
section{
    padding-left: 15px;
}
#menu-race{
    width: 139px;
    position: relative;
    display: block;
}
.profile-menu-info{
    height: 230px;
}
#menu-race-info-block{
    text-align: left;
    padding-left: 23px;
}
.table-bordered {
    border: 1px solid #dddddd;
    border-collapse: separate;
    border-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.table {
    width: 100%;
    margin-bottom: 20px;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    color: white;
}
.table th{
    color: white;
}
.widget.widget-table .table {
    margin-bottom: 0;
    border: none;
}
.table tr:first-child{
    background-color: #222222;
}
.widget.widget-table .widget-content {
    padding: 0;
}

.widget .widget-header + .widget-content {
    border-top: none;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.widget .widget-content {
    padding: 20px 15px 15px;
    background: transparent;
    border: 1px solid #D5D5D5;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.widget .widget-header {
    position: relative;
    height: 40px;
    line-height: 40px;
    background: #E9E9E9;
    background: -moz-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #e9e9e9));
    background: -webkit-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
    background: -o-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
    background: -ms-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
    background: linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
    text-shadow: 0 1px 0 #fff;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1),inset 0 1px 0 white,inset 0 -1px 0 rgba(255,255,255,0.7);
    border-bottom: 1px solid #bababa;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
    border: 1px solid #D5D5D5;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-background-clip: padding-box;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.widget .widget-header h3 {
    top: 2px;
    position: relative;
    left: 10px;
    display: inline-block;
    margin-right: 3em;
    font-size: 14px;
    font-weight: 600;
    color: #555;
    line-height: 18px;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}
.table-striped>tbody>tr:nth-of-type(odd){
     background-color: transparent;

 }
.table-striped>tbody>tr:nth-of-type(even){
    background-color:  #222222;

}
.widget .widget-header [class^="icon-"], .widget .widget-header [class*=" icon-"] {
    display: inline-block;
    margin-left: 13px;
    margin-right: -2px;
    font-size: 16px;
    color: #555;
    vertical-align: middle;
}
.pagination{
    float: right;
    margin-right: 20px;
}
.pagination .page,.next,.last,.current,.previous,.first{
    display: inline-block;
    border: 1px solid #ababab;
    width: 30px;
    height: 30px;
    background-color: #222222;
    text-align: center;
    padding-top: 4px;
}
.current{
    color: #c50000;
}
.pagination a{
    color: white;
    text-decoration: none;
}
.pagination a:hover{
    color: #538cff;
}
#galaxyWrapper{
    border: 5px solid #4b5a98;
    width: 1000px;
    height: 1000px;
}
.spaceEntity.sun:hover{
    border: 1px solid white;
    border-radius: 60px;
}
.spaceEntityWrapper{
    position: relative;
    padding: 5px;
}
.spaceEntityInformation{
    position: absolute;
    display: none;
    width: 150px;
    left: 49px;
    top: 70px;
    z-index: 10;
    border: 2px solid #538cff;
    padding-left: 5px;
    background-color: rgba(255, 255, 255, 0.79);
}
.spaceEntityWrapper:hover>.spaceEntityInformation{
    display: block;
}
.spaceEntity:hover{
    border: 1px solid white;
    border-radius: 25px;
}
.entityActionButton{
    margin-bottom: 10px;
}
#galaxyInfoMenu{
    border: 1px solid #080808;
    background-color: rgba(34, 34, 34, 0.91);
    color: white;
    padding: 10px;
}
#galaxyInfoMenu ul{
    list-style-type: none;
    padding-left: 10px;
}
#currentPlanetWrapper{
}
#planetName{
    text-align: center;
    color: white;
}
#currentPlanet{
    width:65%;
    max-width: 100%;
    margin: 0 auto;
    display: block;
}
#planetInfoMenu{
    border: 1px solid #080808;
    background-color: rgba(34, 34, 34, 0.91);
    color: white;
    padding: 10px;
}
#planetInfoMenu ul{
    list-style-type: none;
    padding-left: 10px;
}
.buildingEntity{
    width: 50px;
    color: black;
}
#menu-recources{
    padding-top: 15px;
    font-size: 16px;
}