{% extends 'game-base.html.twig' %}


{% block body %}

    {#{{ include('default/login.html.twig') }}#}

    <div style="width: 53%" class="col-md-6">
        <div class="row">

            <div class="col-md-12" id="gameContent">
                <h1>Пин1ко</h1>
            </div>

        </div>
    </div>


{% endblock %}
