{% extends 'game-base.html.twig' %}


{% block body %}

{#{{ include('default/login.html.twig') }}#}

<div style="border: 1px solid white" class="col-md-8">
    <div class="row">

        <div class="col-md-12" id="gameContent">
            <h1>Унитс</h1>
        </div>

    </div>
</div>


{% endblock %}
